---
import Call from "../../components/Call.astro";

const { channelName } = Astro.params;
const uid = Astro.url.searchParams.get("uid");

let inCall = false;
---

{
    inCall ? (
        <Call client:load channelName={channelName} uid={uid} />
    ) : (
        <div>Not in call</div>
    )
}
